.KapostAdmin .cms-content-actions .ss-ui-action-constructive .ui-icon.btn-icon-kapost-convert, .cms-dialog .KapostAdmin .ss-ui-action-constructive .ui-icon.btn-icon-kapost-convert {
    background-image: url(./../images/icons/arrow-switch.png);
}

html, body, .cms-dialog-content, .cms-dialog form.KapostAdmin {
    height: 100%;
}

body.cms-dialog {
    overflow: hidden;
}

.cms-dialog form.KapostAdmin .kapostConvertLeftSide {
    float: left;
    
    width: 48%;
}

.cms-dialog form.KapostAdmin .kapostConvertRightSide {
    float: right;
    
    width: 48%;
}

.cms-dialog form.KapostAdmin .clear {
    clear: both;
}

.cms-dialog form.KapostAdmin .field .middleColumn {
    margin-left: 0;
}

.cms-dialog form.KapostAdmin .field label.left, .cms-dialog form.KapostAdmin .kapostConvertLeftSide .optionset li {
    float: none;
    
    width: auto;
}

.cms-dialog form.KapostAdmin .kapost-convert-dialog-content {
    padding: 10px 0;
    
    overflow: hidden;
    overflow-y: auto;
}

.cms-dialog form.KapostAdmin .kapost-convert-dialog-header {
    background: #ECEFF1;
    
    border: 0;
    border-bottom: 1px solid #D0D3D5;
    
    padding: 8px 0 0 0;
    
    border-bottom: 1px solid #cacacc;
    
    box-shadow: 1px 0 0 #ECEFF1, rgba(248, 248, 248, 0.9) 0 -1px 0 inset, rgba(201, 205, 206, 0.8) 0 0 1px;
    -moz-box-shadow: 1px 0 0 #ECEFF1, rgba(248, 248, 248, 0.9) 0 -1px 0 inset, rgba(201, 205, 206, 0.8) 0 0 1px;
    -webkit-box-shadow: 1px 0 0 #ECEFF1, rgba(248, 248, 248, 0.9) 0 -1px 0 inset, rgba(201, 205, 206, 0.8) 0 0 1px;
}

.cms-dialog form.KapostAdmin .south {
    background-color: #ECEFF1;
    
    height: 28px;
    
    padding: 1em 0;
    
    border-top: 1px solid #cacacc;
    box-shadow: 1px 0 0 #ECEFF1, rgba(248, 248, 248, 0.9) 0 1px 0px inset, rgba(201, 205, 206, 0.8) 0 0 1px;
    -moz-box-shadow: 1px 0 0 #ECEFF1, rgba(248, 248, 248, 0.9) 0 1px 0px inset, rgba(201, 205, 206, 0.8) 0 0 1px;
    -webkit-box-shadow: 1px 0 0 #ECEFF1, rgba(248, 248, 248, 0.9) 0 1px 0px inset, rgba(201, 205, 206, 0.8) 0 0 1px;
}

.cms-dialog form.KapostAdmin #ReplacePageID {
    border-bottom: 0;
    
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.cms table.ss-gridfield-table tbody td a.kapost-destination-action {
    display: inline-block;
    
    width: 20px;
    height: 20px;
    
    vertical-align: middle;
    
    margin-right: 10px;
    
    overflow: hidden;
}