.KapostAdmin .cms-content-actions .ss-ui-action-constructive .ui-icon.btn-icon-kapost-convert, .cms-dialog .KapostAdmin .ss-ui-action-constructive .ui-icon.btn-icon-kapost-convert {
    background-image: url(./../images/icons/arrow-switch.png);
}

html, body, .cms-dialog-content, .cms-dialog form.KapostAdmin {
    height: 100%;
}

body.cms-dialog {
    overflow: hidden;
}

.cms-dialog form.KapostAdmin .kapostConvertLeftSide {
    float: left;
    
    width: 48%;
}

.cms-dialog form.KapostAdmin .kapostConvertRightSide {
    float: right;
    
    width: 48%;
}

.cms-dialog form.KapostAdmin .clear {
    clear: both;
}

.cms-dialog form.KapostAdmin .field .middleColumn {
    margin-left: 0;
}

.cms-dialog form.KapostAdmin .field label.left, .cms-dialog form.KapostAdmin .kapostConvertLeftSide .optionset li {
    float: none;
    
    width: auto;
}

.cms-dialog form.KapostAdmin .kapost-convert-dialog-content {
    padding: 10px 0;
    
    overflow: hidden;
    overflow-y: auto;
}

.cms-dialog form.KapostAdmin .kapost-convert-dialog-header {
    background: #ECEFF1;
    
    border: 0;
    border-bottom: 1px solid #D0D3D5;
    
    padding: 8px 0 0 0;
    
    border-bottom: 1px solid #cacacc;
    
    box-shadow: 1px 0 0 #ECEFF1, rgba(248, 248, 248, 0.9) 0 -1px 0 inset, rgba(201, 205, 206, 0.8) 0 0 1px;
    -moz-box-shadow: 1px 0 0 #ECEFF1, rgba(248, 248, 248, 0.9) 0 -1px 0 inset, rgba(201, 205, 206, 0.8) 0 0 1px;
    -webkit-box-shadow: 1px 0 0 #ECEFF1, rgba(248, 248, 248, 0.9) 0 -1px 0 inset, rgba(201, 205, 206, 0.8) 0 0 1px;
}

.cms-dialog form.KapostAdmin .south {
    background-color: #ECEFF1;
    
    height: 28px;
    
    padding: 1em 0;
    
    border-top: 1px solid #cacacc;
    box-shadow: 1px 0 0 #ECEFF1, rgba(248, 248, 248, 0.9) 0 1px 0px inset, rgba(201, 205, 206, 0.8) 0 0 1px;
    -moz-box-shadow: 1px 0 0 #ECEFF1, rgba(248, 248, 248, 0.9) 0 1px 0px inset, rgba(201, 205, 206, 0.8) 0 0 1px;
    -webkit-box-shadow: 1px 0 0 #ECEFF1, rgba(248, 248, 248, 0.9) 0 1px 0px inset, rgba(201, 205, 206, 0.8) 0 0 1px;
}

.cms-dialog form.KapostAdmin div.field.replace-page-id, .cms-dialog form.KapostAdmin div.field.parent-page-id {
    border-bottom: 0;
    
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.cms-dialog .field.urlsegmentcheck {
    clear: both;
    
    padding-left: 0;
}

.cms-dialog .field.urlsegmentcheck label.right {
    font-weight: bold;
}

.cms table.ss-gridfield-table tbody td a.kapost-destination-action {
    display: inline-block;
    
    width: 20px;
    height: 20px;
    
    vertical-align: middle;
    
    margin-right: 10px;
    
    overflow: hidden;
}

.cms-dialog #kapost-convert-notes-trigger {
    position: absolute;
    top: 30px;
    right: 20px;
    
    -webkit-box-shadow: 2px 2px 4px 0 rgb(201, 205, 206);
    -moz-box-shadow: 2px 2px 4px 0 rgb(201, 205, 206);
    box-shadow: 2px 2px 4px 0 rgb(201, 205, 206);
    
    z-index: 1000;
}

.cms-dialog #kapost-convert-notes-trigger, .cms-dialog #kapost-convert-notes-trigger img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.cms-dialog #kapost-convert-notes-trigger img {
    display: block;
    
    width: 48px;
    height: 48px;
}

.cms-dialog #kapost-convert-notes-trigger.animate {
    animation: bounce 1s;
    animation-fill-mode: both;
    animation-delay: 20s;
    
    transform-origin: center bottom;
}

.cms-dialog #kapost-convert-notes-popup {
    background: #ECEFF1;
    
    display: none;
    
    position: absolute;
    top: 46px;
    right: 84px;
    
    width: 60%;
    max-height: 80%;
    
    padding: 20px;
    
    border: 1px solid #CACACC;
    
    overflow-x: hidden;
    overflow-y: auto;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    -webkit-box-shadow: rgba(248, 248, 248, 0.9) 1px 1px 0 inset, rgba(248, 248, 248, 0.9) -1px -1px 0 inset, rgb(201, 205, 206) 2px 2px 4px;
    -moz-box-shadow: rgba(248, 248, 248, 0.9) 1px 1px 0 inset, rgba(248, 248, 248, 0.9) -1px -1px 0 inset, rgb(201, 205, 206) 2px 2px 4px;
    box-shadow: rgba(248, 248, 248, 0.9) 1px 1px 0 inset, rgba(248, 248, 248, 0.9) -1px -1px 0 inset, rgb(201, 205, 206) 2px 2px 4px;
    
    z-index: 1000;
}

.cms-dialog #kapost-convert-notes-popup.visible {
    display: block;
}

.cms-dialog #kapost-convert-notes-popup p {
    margin: 0;
}

.cms-dialog #kapost-convert-notes-popup .kapost-author {
    font-weight: bold;
    font-size: 14px;
    
    margin-bottom: 15px;
}

@keyframes bounce {
    from, 20%, 53%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
    }
    
    40%, 43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
    }
    
    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }
    
    90% {
        transform: translate3d(0,-4px,0);
    }
}